body {

}

.paper {
    max-width: 1200px;
    margin: 0 auto;
    //background-color: #cbcbcb;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    //height: 100vh;
    //justify-content: center;
    //align-items: center;
    //padding: 50px;
}

.col-1 {
    flex: 2;
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;

}

.col-2 {
    flex: 5;
    position: relative;
    padding-left: 30px;

}

#section0 {
    height: 100vh;
}

#section1 {
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
}

#section2 {
    height: 100vh;
}

.container_top {
    //background-color: #69aebb;
    height: 50vh;
    position: relative;
}

.container_bot {
    //background-color: antiquewhite;
    height: 50vh;
    position: relative;
}


/* ======= SIDE PANEL ======= */


.side_panel {
    position: fixed;
    width: 285px;
    display: flex;
    flex-direction: column;
    background-color: #414141;
    font-family: 'Amiko', sans-serif;
}

.logo_box {
    height: 150px;
    width: 100%;
    text-align: center;
    background-color: #414141;
    border-bottom: 1px solid white;

}

.logo_box img {
    position: relative;
    margin: 0 auto;
    height: 90px;
    top:50%;
    transform: translateY(-50%);
}

.name_box {
    height: 200px;
    width: 100%;
    text-align: center;
    background-color: #414141;
    color: #cbcbcb;
}

.name {
    font-size: 1.7rem;
    text-transform: uppercase;
    //line-height: 0.5
}

.dev {
    font-size: 1.2rem;

}

.social_media_box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #414141;
    height: 100px;
}

.media_icon {
    height: 60px;
    width: auto;
}

/* -------- NAVIGATION ------- */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

li a {
    display: block;
    background-color: #d0d0d0;
    padding: 20px;
    text-decoration: none;
    text-align: center;
    color: #414141;
}

li a:hover {
    background-color: #69aebb;
}

/* ======= MAIN CONTENT ======= */


/* -------- SECTION 0 ------- */



/* -------- SECTION 1 ------- */

.avatar {
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    height: 400px;
    z-index: 3;
    position:absolute;
    bottom: -50px;
    left: 50px;
}

.circle {
    height: 450px;
    width: 450px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

#circle1 {
    bottom: -70px;
    background-color: rgba(66, 153, 169, 0.3);
 }

#circle2 {
    bottom: -150px;
    left: 170px;
    background-color: rgba(66, 153, 169, 0.2);
}

#circle3 {
    height: 200px;
    width: 200px;
    bottom: 150px;
    left: 400px;
    background-color: rgba(66, 153, 169, 0.2);
    -webkit-transition: 300ms ease-in-out;
    -moz-transition: 300ms ease-in-out;
    -ms-transition: 300ms ease-in-out;
    -o-transition: 300ms ease-in-out;
    transition: 300ms ease-in-out; }


#circle3 img {
    height: 70px;
    -webkit-transition: 400ms ease-in-out;
    -moz-transition: 400ms ease-in-out;
    -ms-transition: 400ms ease-in-out;
    -o-transition: 400ms ease-in-out;
    transition: 400ms ease-in-out;
}

#circle3:hover {
    background-color: rgba(66, 153, 169, 0.6);
}

#circle3:hover img {
    height: 80px;
}

.bio {
    position: absolute;
    top: 80px;
    width: 80%;
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 1.2rem;
    color: #414141;;
}

.bio a:link {
    color: #6d6d6d;
    text-decoration: none; }

.bio a:visited {
    color: #6d6d6d;
    text-decoration: none; }

.quote {
    position: absolute;
    top: -20px;
    right: 75px;
    width: 40%;
    border-right: 7px solid #6d6d6d;
    font-family: 'Amiko', sans-serif;
    font-size: 1.2rem;
    text-align: right;
    padding-right: 20px;
    color: #6d6d6d;
    z-index: 5;
}

/* -------- SECTION 2 ------- */

.portfolio {
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    height: 380px;
    z-index: 3;
    position:absolute;

}

#is_project {
    bottom: -50px;
    right: 20px;
}

#album {
    top:-60px;
    left: 10px;
}

.circle2 {
    height: 270px;
    width: 270px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#circle5 {
    top: 40px;
    right: 350px;
    background-color: rgba(66, 153, 169, 0.2);
}

#circle4 {
    top: 80px;
    left: 320px;
    background-color: rgba(66, 153, 169, 0.3);
}

.bubble_caption {
    font-family: 'Amiko', sans-serif;
    font-size: 1.2rem;
    color: #6d6d6d;
}