body {
  opacity: 1;
  -webkit-transition: 1500ms;
  -moz-transition: 1500ms;
  -ms-transition: 1500ms;
  -o-transition: 1500ms;
  transition: 1500ms; }

body.fade-in {
  opacity: 0; }

.paper {
  max-width: 100%;
  display: flex;
  flex-direction: column; }

@media only screen and (min-width: 768px) {
  .paper {
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    flex-direction: row; } }
.col-1 {
  max-width: 100%;
  position: relative;
  align-items: center;
  background-color: #414141; }
  @media only screen and (min-width: 768px) {
    .col-1 {
      background-color: transparent;
      flex: 1.6;
      height: 100vh;
      display: flex;
      align-items: center; } }
  @media only screen and (min-width: 1024px) {
    .col-1 {
      flex: 2; } }

.col-2 {
  position: relative;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  @media only screen and (min-width: 768px) {
    .col-2 {
      display: block;
      flex: 5;
      position: relative;
      padding-left: 30px; } }
  @media only screen and (min-width: 1024px) {
    .col-2 {
      flex: 5;
      padding-left: 30px; } }

.section {
  width: 100%; }
  @media only screen and (min-width: 768px) {
    .section {
      height: 100vh; } }

@media only screen and (max-width: 767px) {
  #section0 {
    height: 85vh;
    display: flex;
    align-items: center; } }
#section1 {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh; }

#section2 {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh; }

.container {
  width: 100%; }
  @media only screen and (min-width: 768px) {
    .container {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%); } }

.container_top, .container_bot {
  width: 100%;
  position: relative; }
  @media only screen and (min-width: 768px) {
    .container_top, .container_bot {
      min-height: 50vh; } }

/* ======= SIDE PANEL ======= */
.side_panel {
  display: none; }
  @media only screen and (min-width: 768px) {
    .side_panel {
      background-color: #414141;
      font-family: "Raleway", sans-serif;
      font-weight: 300;
      position: fixed;
      top: 50%;
      transform: translateY(-50%);
      display: flex;
      flex-direction: column;
      width: 210px; } }
  @media only screen and (min-width: 1024px) {
    .side_panel {
      width: 260px; } }
  @media only screen and (min-width: 1280px) {
    .side_panel {
      width: 310px; } }

.logo_box {
  display: block;
  height: 120px;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid white; }
  @media only screen and (min-width: 1024px) {
    .logo_box {
      height: 150px; } }

.logo_box svg {
  display: block;
  position: relative;
  margin: 0 auto;
  height: 75px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%); }
  .logo_box svg circle {
    -webkit-transition: 800ms;
    -moz-transition: 800ms;
    -ms-transition: 800ms;
    -o-transition: 800ms;
    transition: 800ms; }
  @media only screen and (min-width: 1024px) {
    .logo_box svg {
      height: 90px; } }

.name_box {
  background-color: #414141;
  text-align: center;
  color: #cbcbcb;
  width: 100%; }
  @media only screen and (min-height: 769px) {
    .name_box {
      height: 200px; } }

.name {
  text-transform: uppercase;
  background-color: #414141; }
  @media only screen and (min-width: 768px) {
    .name {
      font-size: 1.4rem; } }
  @media only screen and (min-width: 1024px) {
    .name {
      font-size: 1.7rem; } }

@media only screen and (min-width: 768px) {
  .dev {
    font-size: 1rem; } }
@media only screen and (min-width: 1024px) {
  .dev {
    font-size: 1.2rem; } }

.social_media_box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px; }
  @media only screen and (min-height: 769px) {
    .social_media_box {
      height: 100px; } }

.media_icon {
  height: 30px;
  width: auto; }
  @media only screen and (min-height: 769px) {
    .media_icon {
      height: 40px;
      width: auto; } }

/* -------- NAVIGATION ------ */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: "Roboto Condensed", sans-serif; }

li {
  background-color: #cbcbcb; }
  li a {
    display: block;
    padding: 15px;
    text-decoration: none;
    text-align: center;
    font-size: 0.9rem;
    color: #414141;
    -webkit-transition: 400ms;
    -moz-transition: 400ms;
    -ms-transition: 400ms;
    -o-transition: 400ms;
    transition: 400ms; }
    @media only screen and (min-width: 1024px) {
      li a {
        padding: 20px;
        font-size: 1rem; } }

#top-menu li.active a {
  background-color: #69aebb; }

/* ======= PANEL FOR SMARTPHONES ======= */
.top_panel {
  width: 100%;
  background-color: #414141;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  text-align: center;
  color: #cbcbcb; }
  .top_panel .name {
    font-size: 1.7rem;
    text-transform: uppercase; }
  .top_panel .dev {
    font-size: 1rem; }
  @media only screen and (min-width: 768px) {
    .top_panel {
      display: none; } }

/* ======= MAIN CONTENT ======= */
/* -------- CIRCLES ------- */
.avatar {
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  max-height: 80vh;
  max-width: 80%;
  display: block;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 30px; }
  @media only screen and (min-width: 768px) {
    .avatar {
      height: 300px;
      width: 300px;
      z-index: 3;
      position: absolute;
      bottom: -50px;
      left: 50px;
      margin: 0; } }
  @media only screen and (max-height: 768px) {
    .avatar {
      height: 300px;
      width: 300px; } }
  @media only screen and (min-height: 769px) {
    .avatar {
      height: 400px;
      width: 400px; } }

.circle {
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center; }
  @media only screen and (min-width: 768px) {
    .circle {
      height: 350px;
      width: 350px;
      position: absolute; } }
  @media only screen and (max-height: 768px) {
    .circle {
      height: 350px;
      width: 350px; } }
  @media only screen and (min-height: 769px) {
    .circle {
      height: 450px;
      width: 450px; } }

.heart {
  height: 80px;
  width: 80px;
  background-color: rgba(105, 174, 187, 0.3);
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px; }
  @media only screen and (min-width: 768px) {
    .heart {
      bottom: 0;
      left: 90px;
      margin: 0; } }
  @media only screen and (min-width: 1024px) {
    .heart {
      left: 120px; } }

/* -------- SECTION 0 ------- */
/* -------- SECTION 1 ------- */
.circle1 {
  display: none; }
  @media only screen and (min-width: 768px) {
    .circle1 {
      display: flex;
      bottom: -70px;
      background-color: rgba(105, 174, 187, 0.3); } }

.circle2 {
  display: none; }
  @media only screen and (min-width: 768px) {
    .circle2 {
      display: flex;
      bottom: -130px;
      left: 170px;
      background-color: rgba(105, 174, 187, 0.2); } }

.circle3 {
  display: none; }
  @media only screen and (min-width: 768px) {
    .circle3 {
      display: flex;
      background-color: rgba(105, 174, 187, 0.2);
      -webkit-transition: 300ms ease-in-out;
      -moz-transition: 300ms ease-in-out;
      -ms-transition: 300ms ease-in-out;
      -o-transition: 300ms ease-in-out;
      transition: 300ms ease-in-out; } }
  @media only screen and (max-height: 768px) {
    .circle3 {
      height: 150px;
      width: 150px;
      bottom: 120px;
      left: 300px; } }
  @media only screen and (min-height: 769px) {
    .circle3 {
      height: 200px;
      width: 200px;
      bottom: 150px;
      left: 400px; } }

.circle3 img {
  height: 60px;
  opacity: 0.7;
  -webkit-transition: 400ms ease-in-out;
  -moz-transition: 400ms ease-in-out;
  -ms-transition: 400ms ease-in-out;
  -o-transition: 400ms ease-in-out;
  transition: 400ms ease-in-out; }
  @media only screen and (min-height: 769px) {
    .circle3 img {
      height: 70px; } }

.circle3:hover {
  background-color: rgba(105, 174, 187, 0.6); }

.circle3:hover img {
  height: 80px; }

.bio {
  font-family: "Archivo Narrow", sans-serif;
  font-size: 1.1rem;
  color: #414141;
  padding: 20px;
  margin-bottom: 50px; }
  @media only screen and (min-width: 768px) {
    .bio {
      position: absolute;
      top: 50px;
      width: 80%;
      margin: 0;
      font-size: 1rem; } }
  @media only screen and (min-width: 1024px) {
    .bio {
      font-size: 1.1rem;
      top: 90px; } }

.bio a:link {
  color: #336771;
  text-decoration: none; }

.bio a:visited {
  color: #336771;
  text-decoration: none; }

.quote {
  box-sizing: border-box;
  max-width: 90%;
  border-right: 3px solid #818181;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  text-align: right;
  padding: 5px 20px 5px 0;
  margin: 0 5% 0;
  color: #818181;
  -webkit-transition: 1500ms;
  -moz-transition: 1500ms;
  -ms-transition: 1500ms;
  -o-transition: 1500ms;
  transition: 1500ms; }
  @media only screen and (min-width: 768px) {
    .quote {
      padding: 5px 20px 5px 0;
      position: absolute;
      top: 0;
      right: 75px;
      max-width: 420px;
      z-index: 5;
      margin: 0;
      font-size: 1rem;
      border-right: 4px solid #818181; } }
  @media only screen and (min-width: 1024px) {
    .quote {
      font-size: 1.2rem; } }

/* -------- SECTION 2 ------- */
.portfolio {
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  max-height: 80vh;
  max-width: 90%;
  display: block;
  margin: 0 auto; }
  @media only screen and (min-width: 768px) {
    .portfolio {
      height: 300px;
      z-index: 3;
      position: absolute; } }
  @media only screen and (min-height: 769px) {
    .portfolio {
      height: 380px; } }

@media only screen and (min-width: 768px) {
  .is_project {
    bottom: -50px;
    right: 20px; } }

@media only screen and (min-width: 768px) {
  .album {
    top: -60px;
    left: 10px; } }

.circle4 {
  height: 200px;
  width: 200px;
  background-color: rgba(105, 174, 187, 0.2);
  text-align: center;
  -webkit-transition: 1000ms;
  -moz-transition: 1000ms;
  -ms-transition: 1000ms;
  -o-transition: 1000ms;
  transition: 1000ms;
  transform: translateY(-30%);
  -webkit-transform: translateY(-30%);
  -ms-transform: translateY(-30%); }
  @media only screen and (min-width: 768px) {
    .circle4 {
      transform: translateY(0%);
      -webkit-transform: translateY(0%);
      -ms-transform: translateY(0%);
      bottom: 50px;
      right: 250px; } }
  @media only screen and (min-height: 769px) {
    .circle4 {
      height: 250px;
      width: 250px;
      bottom: 75px;
      right: 335px; } }

.circle5 {
  height: 200px;
  width: 200px;
  background-color: rgba(105, 174, 187, 0.3);
  text-align: center;
  -webkit-transition: 1000ms;
  -moz-transition: 1000ms;
  -ms-transition: 1000ms;
  -o-transition: 1000ms;
  transition: 1000ms;
  transform: translateY(-30%);
  -webkit-transform: translateY(-30%);
  -ms-transform: translateY(-30%); }
  @media only screen and (min-width: 768px) {
    .circle5 {
      transform: translateY(0%);
      -webkit-transform: translateY(0%);
      -ms-transform: translateY(0%);
      top: 60px;
      left: 250px; } }
  @media only screen and (min-height: 769px) {
    .circle5 {
      height: 250px;
      width: 250px;
      top: 95px;
      left: 300px; } }

.circle-hover {
  background-color: rgba(105, 174, 187, 0.6); }

.bubble_caption {
  font-family: "Raleway", sans-serif;
  font-size: 1.2rem;
  color: #676767; }
  @media only screen and (min-width: 768px) {
    .bubble_caption {
      font-size: 1rem; } }
  @media only screen and (min-height: 769px) {
    .bubble_caption {
      font-size: 1.2rem; } }

footer .social_media_box2 {
  background-color: #414141;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px; }
  @media only screen and (min-width: 768px) {
    footer .social_media_box2 {
      display: none; } }
  footer .social_media_box2 .media_icon2 {
    height: 45px; }
    @media only screen and (min-width: 768px) {
      footer .social_media_box2 .media_icon2 {
        display: none; } }

/*# sourceMappingURL=styles.css.map */
