body {
    height: 100vh;
}

.paper {
    max-width: 1200px;
    margin: 0 auto;
    //background-color: #cbcbcb;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    //justify-content: center;
    //align-items: center;
}

/* aside {
    order: 1;
    flex: 2;
    font-family: 'Amiko', sans-serif;
    font-size: 18px;
    color: white;
} */

/*main {
    order: 2;
    flex: 5;
    max-height: 700px;
    overflow: auto;
    //background-color: antiquewhite;
} */

.col-1 {
    flex: 2;
}

.col-2 {
    flex: 5;
    padding-left: 30px;
}


/* ======= SIDE PANEL ======= */


.side_panel {
    top: 60px;
    position: fixed;
    width: 285px;
    display: flex;
    flex-direction: column;
    background-color: #414141;
}

.logo_box {
    height: 150px;
    width: 100%;
    text-align: center;
    background-color: #414141;
    border-bottom: 1px solid white;

}

.logo_box img {
    position: relative;
    margin: 0 auto;
    height: 90px;
    top:50%;
    transform: translateY(-50%);
}

.name_box {
    height: 200px;
    width: 100%;
    text-align: center;
    background-color: #414141
}

.name {
    font-size: 1.8rem;
    text-transform: uppercase;
}

.dev {
    font-size: 1.3rem;
}

.social_media_box {
    background-color: #414141;
    height: 200px;
}
/* -------- NAVIGATION ------- */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

li a {
    display: block;
    background-color: #d0d0d0;
    padding: 25px;
    text-decoration: none;
    text-align: center;
    color: #414141;
}

li a:hover {
    background-color: #69aebb;
}

/* ======= MAIN CONTENT ======= */

.avatar {
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    height: 400px;
    z-index: 3;
    position: absolute;
    top:100px;
}

.circle {
    height: 450px;
    width: 450px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    background-color: rgba(66, 153, 169, 0.3);
    position: absolute;
}

#circle1 {
     top: 80px;
 }

#circle2 {
    top: -30px;
}

.col-2 p {
    position: absolute;
    top: 50px
}