//==== Variables ====

// colors
$basic_grey: #414141;
$light_grey: #cbcbcb;
$basic_accent: #69aebb;

// ==== Fonts ====
$fontMain: 'Archivo Narrow', sans-serif;
$fontQuote: 'Raleway', sans-serif;
$fontNav: 'Roboto Condensed', sans-serif;

// ==== Transitions, transformations ====

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

@mixin transform($args...) {
  transform: $args;
  -webkit-transform: $args;
  -ms-transform: $args;
}

@mixin create_circle {
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;}


//==== Basic Layout ====
.paper {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.col-1 {
  flex: 2;
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
}

.col-2 {
  flex: 5;
  position: relative;
  padding-left: 30px;
}

.section {
  height: 100vh;
}

#section1 {
  position: relative;
  display: flex;
  flex-direction: column;
}


.container {
  position: relative;
  top:50%;
  @include transform(translateY(-50%));

}

.container_top, .container_bot {
  height: 50vh;
  position: relative;
}

/* ======= SIDE PANEL ======= */


.side_panel {
  position: fixed;
  top:50%;
  transform: translateY(-50%);
  width: 300px;
  display: flex;
  flex-direction: column;
  background-color: $basic_grey;
  font-family: $fontQuote;
  font-weight: 300;
}

.logo_box {
  height: 150px;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid white;

}

.logo_box img {
  position: relative;
  margin: 0 auto;
  height: 90px;
  top:50%;
  @include transform(translateY(-50%));
}

.name_box {
  height: 200px;
  width: 100%;
  text-align: center;
  color: #cbcbcb;
}

.name {
  font-size: 1.7rem;
  text-transform: uppercase;
}

.dev {
  font-size: 1.2rem;
}

.social_media_box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
}

.media_icon {
  height: 40px;
  width: auto;
}

/* -------- NAVIGATION ------- */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: $fontNav;
}

li a {
  display: block;
  background-color: $light_grey;
  padding: 20px;
  text-decoration: none;
  text-align: center;
  color: $basic_grey;
  @include transition(200ms);
}

li a:hover {
  background-color: $basic_accent;
}

/* ======= MAIN CONTENT ======= */

/* -------- CIRCLES ------- */
.avatar {
  @include create_circle;
  max-height: 400px;
  z-index: 3;
  position:absolute;
  bottom: -50px;
  left: 50px;
}

.circle {
  height: 450px;
  width: 450px;
  @include create_circle;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heart {
  height: 80px;
  width: 80px;
  background-color: rgba($basic_accent, 0.3);
  bottom: -10px;
  left: 120px;
}
/* -------- SECTION 0 ------- */

/* -------- SECTION 1 ------- */

#circle1 {
  bottom: -70px;
  background-color: rgba($basic_accent, 0.3);
}

#circle2 {
  bottom: -150px;
  left: 170px;
  background-color: rgba($basic_accent, 0.2);
}

#circle3 {
  height: 200px;
  width: 200px;
  bottom: 150px;
  left: 400px;
  background-color: rgba($basic_accent, 0.2);
  @include transition(300ms ease-in-out);
 }


#circle3 img {
  height: 70px;
  opacity: 0.7;
  @include transition(400ms ease-in-out);
}

#circle3:hover {
  background-color: rgba($basic_accent, 0.6);
}

#circle3:hover img {
  height: 80px;
}

.bio {
  position: absolute;
  top: 90px;
  width: 80%;
  font-family: $fontMain;
  font-size: 1.1rem;
  color: $basic_grey;
}

.bio a:link {
  color: lighten( $basic_grey, 25% );
  text-decoration: none; }

.bio a:visited {
  color: lighten( $basic_grey, 25% );
  text-decoration: none; }

.quote {
  position: absolute;
  top: -20px;
  right: 75px;
  width: 40%;
  border-right: 5px solid lighten( $basic_grey, 25% );
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  text-align: right;
  padding-right: 20px;
  color: lighten($basic_grey, 25%);
  z-index: 5;
}

/* -------- SECTION 2 ------- */

.portfolio {
  @include create_circle;
  height: 380px;
  z-index: 3;
  position:absolute;
}

.is_project {
  bottom: -50px;
  right: 20px;
}

.album {
  top:-60px;
  left: 10px;
}

#circle5 {
  height: 270px;
  width: 270px;
  top: 40px;
  right: 350px;
  background-color:  rgba($basic_accent, 0.2);
  text-align: center;
}

#circle4 {
  height: 270px;
  width: 270px;
  top: 80px;
  left: 320px;
  background-color:  rgba($basic_accent, 0.3);
  text-align: center;
}

.bubble_caption {
  font-family: $fontQuote;
  font-size: 1.2rem;
  color: lighten($basic_grey, 15%);
}